@import url(https://fonts.googleapis.com/css2?family=Lexend+Mega&family=Montserrat&display=swap);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html {
    font-size: 16px;
}
body,
html {
    overflow-x: hidden;
}
a,
a:hover,
a:visited {
    text-decoration: none;
}
#main-page-content {
    display: block;
}
#menu-icon,
#projects-content,
#resume-content {
    display: none;
}
#about-me-section h1,
#contact-section h1,
#programming-skills-section h1,
#resume-content h1 {
    font-family: "Lexend Mega", sans-serif;
    display: block;
    text-align: center;
    font-size: 1.5rem;
    clear: both;
}
#header {
    width: 100vw;
    position: fixed;
    background-color: #f1f1f1;
    height: 3.25rem;
    z-index: 1;
}
#header-container {
    min-width: 950px;
    width: 80%;
    margin: 0 auto;
    height: inherit;
}
#header-container h1 {
    font-family: "Lexend Mega", sans-serif;
    font-size: 1.5rem;
    padding-left: 1rem;
    position: relative;
    top: 30%;
    display: inline;
}
#exit-menu-row {
    display: block;
    text-align: center;
    padding-top: 0.5rem;
}
#exit-menu-button {
    display: none;
    border: 2px solid #000;
    border-radius: 50%;
    font-family: Montserrat, sans-serif;
    background-color: #d3d3d3;
    font-weight: 700;
    padding: 0.4rem;
    margin-bottom: 0.25rem;
}
#header-container p {
    font-family: Montserrat, sans-serif;
    text-decoration: none;
    color: #000;
    font-size: 1rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    position: relative;
    top: 30%;
    display: inline;
    border-right: solid 1px grey;
    cursor: pointer;
}
#dropdown-arrow {
    margin-left: 0.25rem;
    width: 0.75rem;
}
#carousel {
    display: flex;
    padding-top: 10vh;
    width: 80%;
    margin: 0 auto;
}
.panel {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
    max-height: 30rem;
    border-radius: 3.15rem;
    border: #000 1px solid;
    cursor: pointer;
    flex: 0.5;
    margin-right: 0.75rem;
    -webkit-transition: flex 0.7s ease-in;
}
.panel.active {
    flex: 5;
}
.panel h3 {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    opacity: 0;
    color: #fff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.panel.active h3 {
    opacity: 1;
    transition: opacity 0.4s ease-in 0.4s;
}
#about-me-section {
    padding-top: 1rem;
}
#aboutMe {
    background-color: #d3d3d3;
    overflow: auto;
    padding: 1rem;
}
#aboutMeContainer {
    width: 60%;
    margin: 0 auto;
}
#profilePic {
    float: left;
    width: 20rem;
    height: 21.3rem;
    margin-right: 2rem;
}
#aboutMeText {
    font-family: Arial, Courier, monospace;
}
#programming-skills-section {
    margin-top: 1rem;
}
#prgSkills {
    background-color: #f1f1f1;
}
#prgSkillsContainer {
    margin: 0 auto;
    width: 80%;
    height: auto;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.25rem;
}
#prgSkillsContainer img {
    vertical-align: middle;
    padding-right: 1rem;
}
#programming-skills-section p {
    font-family: Montserrat, sans-serif;
    color: #000;
    transform: rotate(-90deg);
    float: right;
    position: relative;
    top: -4.75rem;
    text-decoration: none;
    cursor: pointer;
}
#contact-section {
    width: 100vw;
    margin-top: 1rem;
    overflow: auto;
}
#contact {
    background: url(images/phone_img.png) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 15rem;
    padding: 1rem;
}
#contactContainer {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}
#phoneNumber {
    float: left;
    width: 50%;
}
#phoneNumber p {
    font-family: Montserrat, sans-serif;
    text-align: center;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
}
#contact-info {
    width: 50%;
    float: left;
}
#contact-info input {
    margin-bottom: 1rem;
    width: 100%;
}
textarea {
    width: 100%;
    resize: none;
    height: 9rem;
}
#submit-btn {
    width: 25% !important;
    padding: 0.25rem;
    margin-bottom: 0 !important;
    border: 1px solid #000;
    border-radius: 5px;
}
#submit-btn:hover {
    background-color: #d3d3d3;
}
#submit-btn:active {
    background-color: grey;
}
#projects-container {
    padding-top: 3rem;
    margin: 0 auto;
    width: 70%;
}
.project-links {
    overflow: auto;
    padding-top: 2rem;
}
.project-links h1 {
    font-family: "Lexend Mega", sans-serif;
    font-size: large;
}
.website-title,
.website-title:hover,
.website-title:visited {
    color: #000;
}
.programming-tags {
    overflow: auto;
    display: block;
}
.website-images {
    cursor: pointer;
    border: 0.1rem solid #000;
    border-radius: 5%;
    width: 25rem;
    float: left;
    margin-right: 1vw;
}
.prg-tag {
    margin-left: 0.25rem;
    font-family: Montserrat, sans-serif;
    display: inline;
    border-radius: 1rem;
    color: #fff;
    padding: 0.5rem;
    float: left;
}
#github-link,
#github-link:hover,
#github-link:visited {
    display: flex;
    align-items: center;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    color: #000;
}
#github-logo {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 0.5rem;
    width: 4rem;
}
#resume-content {
    margin-top: 5%;
    margin-bottom: 1rem;
}
#resume {
    border: #d3d3d3 0.5rem solid;
    border-radius: 20px;
    width: 80vw;
    height: 100vh;
    display: block;
    margin: 0 auto;
}
#resume-content p {
    font-family: "Lexend Mega", sans-serif;
    display: block;
    margin: 0 auto;
    width: 80%;
    cursor: pointer;
}
#footer {
    height: 4rem;
    background-color: grey;
    color: #fff;
}
#footerContainer {
    width: 90%;
    margin: 0 auto;
    font-family: Montserrat, sans-serif;
    font-size: 0.9rem;
}
#footerContainer a,
#footerContainer a:hover,
#footerContainer a:visited {
    color: #fff;
}