@media only screen and (max-width: 768px) {
    #header {
        width: 100vw;
        position: static;
        background-color: #f1f1f1;
        height: auto;
        z-index: 1;
    }
    #header-container h1 {
        font-family: "Lexend Mega", sans-serif;
        font-size: 1.5rem;
        padding-left: 1rem;
        display: block;
        text-align: center;
    }
    #menu-icon {
        display: block;
        width: 8vw;
        min-width: 3rem;
        margin: 0 auto;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        cursor: pointer;
    }
    #header-container {
        min-width: auto;
        width: 80%;
        margin: 0 auto;
        height: inherit;
    }
    #navLinks {
        display: none;
    }
    #header-container p {
        font-family: Montserrat, sans-serif;
        text-decoration: none;
        border: 0;
        color: #000;
        font-size: 1.5rem;
        padding-left: 1.2rem;
        padding-right: 1.2rem;
        display: block;
        text-align: center;
        padding-top: 1rem;
    }
    #dropdown-arrow {
        display: none;
    }
    #carousel {
        width: 95%;
    }
    #profilePic {
        width: auto;
    }
    #aboutMeText {
        font-size: 1.25rem;
        clear: both;
        padding-top: 1.5rem;
    }
    #contact {
        height: inherit;
    }
    #contactContainer {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    #phoneNumber {
        width: auto;
    }
    #phoneNumber b {
        font-size: 0.8rem;
    }
    #contact-info {
        width: inherit;
    }
    #contact-info input {
        width: 100%;
    }
    #submit-btn {
        width: 50% !important;
    }
    textarea {
        width: 100%;
    }
    .website-images {
        width: 100%;
        min-width: 320px;
    }
}
@media only screen and (max-width: 425px) {
    #header-container h1 {
        font-size: 1.25rem;
    }
    #header-container p {
        font-size: 1.1rem;
    }
    #aboutMeContainer {
        width: 90vw;
        margin: 0 auto;
    }
    .panel {
        -webkit-transition: flex 0.5s ease-in;
    }
    .panel h3 {
        font-size: 1rem;
    }
    .panel.active h3 {
        opacity: 1;
        transition: opacity 0.5s ease-in 0.5s;
    }
    #profilePic {
        width: 80vw;
        padding: none;
    }
    #about-me-section h1 {
        font-size: 1.25rem;
    }
    #aboutMeText {
        padding: 0;
        padding-top: 1rem;
        font-size: 1rem;
    }
    #programming-skills-section h1 {
        font-size: 1.25rem;
    }
    #prgSkillsContainer img {
        width: 70px;
    }
}